
<div>
     <h1>Leave Management System</h1>
</div>

<div>
  <div>
    <table class="table table-striped">
      <thead style="background-color: lightblue;">
        <tr>
          <th scope="col">Index</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Days Requested</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ="let request of req">
          <th>{{request.id}}</th>
          <td>{{request.name}}</td>
          <td>{{request.surname}}</td>
          <td>{{request.start_date}}</td>
          <td>{{request.end_date}}</td>
          <td>{{request.days_taken}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>