<div>
  <div>
    <h1>Leave Management System</h1>
  </div>
</div>
<!-- table for request -->
<div>
  <div class="">
    <table class="table table-striped">
      <thead style="background-color: lightblue;">
        <tr>
          <th scope="col">Index</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Leave Type</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Days Taken</th>
          <th scope="col">Days Left</th>
          <th scope="col">Reason For Leave</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of req">
          <th>{{request.id}}</th>
          <td>{{request.name}}</td>
          <td>{{request.surname}}</td>
          <td>{{request.start_date}}</td>
          <td>{{request.end_date}}</td>
          <td>{{request.days_taken}}</td>
          <td>{{request.days_left}}</td>
          <td>{{request.leave_type}}</td>
          <td>{{request.reason}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Form -->
<div style="background-color: gray; padding:30px">
  <div class="">
      <form (ngSubmit)="appPostRequests()" [formGroup]="requestGroup">
      <div class="row ">
        <div class="col">
          <input type="text" class="form-control" placeholder="First Name" formControlName="name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last Name" formControlName="surname">
        </div>
      </div>

      <div class="row ">
        <div class="col">
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" formControlName="leave_type">
            <option selected>Type Of Leave...</option>
            <option value="Annual Leave">Annual Leave</option>
            <option value="Sick Leave">Sick Leave</option>
            <option value="Maternity Leave">Maternity Leave</option>
            <option value="Family Responsibility Leave">Family Responsibility Leave</option>
          </select>
        </div>
      </div>

      <div class="row ">
        <div class="col ">
          <label for="start-date">Start Of Leave</label>
          <input type="date" class="form-control" id="start-date" formControlName="start_date">
        </div>
        <div class="col">
          <label for="end-date">End Of Leave</label>
          <input type="date" class="form-control" id="end-date" formControlName="end_date">
        </div>
      </div>

      <div class="row ">
        <div class="col">
          <span>#</span>Leave days taken
        </div>
        <div class="col">
          <span>#</span>Leave days left
        </div>
      </div>

      <div class="row">
        
          <textarea placeholder="Reason for the leave request..." formControlName="reason">
          </textarea>
      
      </div>


      <div class="row">
        <div class="col">
          <input type="submit" class="btn btn-secondary" value="Secondary">
        </div>
      </div>
    </form>
  </div>
</div> 